
<html>
	<head>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>	
		<script src="js/hackrpi.js"></script>
		<script src="https://apis.google.com/js/client.js?onload=checkAuth"></script>

	<body>
		<div id="authorize-div" style="display: none">
			<span>Authorize access to Gmail API</span>

			<!--Button for the user to click to initiate auth sequence -->
			<button id="authorize-button" onclick="handleAuthClick(event)">
				Authorize
			</button>
		</div>
		<pre id="output"></pre>
	</body>
</html> 