<!DOCTYPE html>
<html lang="en">
<head>

	<!-- meta info 	-->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Ian Granger Home page">
	<meta name="author" content="Ian Granger">

	<!-- Bootstrap -->
	<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet"> 
	<!-- <link href="bootstrap/fonts/font-awesome.css" rel="stylesheet"> -->
	<!--<link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">-->

		<!-- need to download jquery correctly, don't rely on website -->
	<script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
	<script src="bootstrap/js/bootstrap.min.js"></script>

	<!-- MY CSS, not 100% working --> 
	<link href="css/index.css" rel="stylesheet">

	<!-- moble friendly -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<title>Ian Granger</title>
</head>

<body>

	<!--nav bar --> 
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container-fluid">	
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-items">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			</div>

			<div class="collapse navbar-collapse" id="nav-items">
				<ul class="nav navbar-nav">
					<li class="active"><a href="http://iang.gg">Home<span class="sr-only">(current)</span></a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li><a href="#projects">Projects</a></li>
					<li><a href="#experience">Experience</a></li>
					<li><a href="#contact">Contact</a></li>
				</ul>
			</div>
		</div>
	</nav>

	<div class="jumbotron">
		<div class="container">
		
			<h1>Ian Granger</h1>
			<h3>learn, code, lead.</h3>
			</div>
	</div>

	<div class="container" id="projects">
		<h3>Projects</h3>
		<h5> Here are some of the projects that I have worked on at hackathons or in my free time.</h5>

		<div class="row">
			<div class="aProject col-xs-12 col-md-4" id="down">
				<div class='desc' onclick="">
					<h3>down4sound </h3>
					<h5>down4sound is a project that I began at Fordham's local hack day <a href="projects/down4sound.py"> Check out the project on github</a></h5>
				</div>
			</div>
			<div class="aProject col-xs-12 col-md-4" id="ptp">
				<div class='desc' onclick="">
					<h3>Prate Trading Platform </h3>
					<h5>PTP is a research project that I participated in, utilising open source automated trading based on algorithmic market evaluation <a href="https://github.com/icgranger9/ptp"> Check out the project on github</a></h5>
				</div>
			</div>
			<div class="aProject col-xs-12 col-md-4" id="css">
				<div class='desc' onclick="">
					<h3>Fordhamm CSS homepage </h3>
					<h5>During my time with Fordham's Computer Science Society, I helped renoveate and maintain their home page. <a href="https://github.com/fordham-css/fordham-css.github.io"> Check out the project on github</a></h5>
				</div>
			</div>
		</div>
	</div>

	<div class="container" id="experience">
		<h3>Experience</h3>
	</div>

	<div class="container" id="contact">
		<h3>Contact</h3>
	</div>
</body>
</html>
