body { 
	padding-top: 50px;
	background-color:LightGray;  
}
/* clears a bootstrap default*/
.row{
	margin: 0px;
}

.jumbotron{
	background-color:white;
}

.container{
	background-color:white;
	padding-top: 20px;
	padding-bottom: 20px;
	width: 100%;
	margin-bottom: 30px;
}

/* is this needed? check later */
#projects{ 
	background-color:white;
	padding-top: 20px;
	padding-bottom: 20px; 
}

.aProject{
	height: 300px;
	border-radius: 15px;
	background-position:center;
	background-size: cover;
	border: 1px solid black;
	padding-right: 0px;
	padding-left: 0px;
	/*margin-right: 15px;
	margin-left: 15px;*/
}

.desc{
	height: 100%; 
	width:100% ;
	padding-top: 15px;
	color: white;
	text-align: center;
	opacity: 0;
	border-radius: 15px;
	background-color: rgba(0,0,0,0.5);
	transition-property: opacity;
	transition-duration:0.5s;
}

.desc h5{
	padding-right: 5%;
	padding-left: 5%;
}

.desc:hover{
	opacity: 1;
}

.logo{
	width: 100%;
	height: 300px;
	border-radius: 15px;
	background-repeat: no-repeat;
	background-position:center;
	background-size: cover;
	border: 1px solid black;
	padding-right: 0px;
	padding-left: 0px;
}

#down{
	background-image: url('http://iang.gg/pictures/down4sound.jpg');
}

#ptp{
	background-image: url('http://iang.gg/pictures/ptp_2.jpg');
}

#css{
	background-image: url('http://iang.gg/pictures/css.jpg');
}


#cubus_logo{
	background-image: url('http://iang.gg/pictures/cubus_logo.png');
}

#css_logo{
	background-image: url('http://iang.gg/pictures/css_logo.png');
}

#uct_logo{
	background-image: url('http://iang.gg/pictures/uct_logo.jpg');
}

.icon{
	width: 100%;
	height: 300px;
	border-radius: 15px;
	background-repeat: no-repeat;
	background-position:center;
	background-size: cover;
	padding-right: 0px;
	padding-left: 0px;
}
/* NOT MY CODE, Try to replace */
.navbar-inverse {
	background-color: #333;
}

.navbar-inverse .nav li a {
    font-weight: 400;
    letter-spacing: 1px;
    color: white;
	font-weight: 400;
	letter-spacing: 1px;
	color: white;
}
.navbar-inverse .nav li a:hover,s
.navbar-inverse .nav li a:focus {
	color: #d3232a;
	outline: none;
}

.navbar-inverse .navbar-nav > .active > a {
	border-radius: 0;
	color: white;
	background-color: #d3232a ;
}

.avbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
      color: white;
      background-color: #a71c21;
}
