body { 
	padding-top: 50px;
	background-color:LightGray;  
}

.jumbotron{
	background-color:white;
}

.container{
	background-color:white;
	padding-top: 20px;
	padding-bottom: 20px;
	width: 100%;
	margin-bottom: 30px;
}

.projects{ 
	background-color:white;
	padding-top: 20px;
	padding-bottom: 20px; 
}
#down{
	background-image: url('../pictures/down4sound.jpg');
}

/* NOT MY CODE, Try to replace */
.navbar-inverse {
	background-color: #333;
}

.navbar-inverse .nav li a {
    font-weight: 400;
    letter-spacing: 1px;
    color: white;
	font-weight: 400;
	letter-spacing: 1px;
	color: white;
}
.navbar-inverse .nav li a:hover,s
.navbar-inverse .nav li a:focus {
	color: #d3232a;
	outline: none;
}

.navbar-inverse .navbar-nav > .active > a {
	border-radius: 0;
	color: white;
	background-color: #d3232a ;
}

.avbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
      color: white;
      background-color: #a71c21;
}
