body { 
	background-color:#fffff0;
	color: #414A4C; 
}
.jumbotron{
	padding: 0;
}

.greeting{
	background-image: url('http://iang.gg/pictures/headshot.jpg');
	background-repeat: no-repeat;
	height: 100vh;
	color: #fffff0;
}

.name{
	text-align: center;
	position: relative;
	/*top: -55px;*/

}
/* clears a bootstrap default*/