body { 
	background-color:#000;
	color: #f3e5b1; 
}
.frame{
	width: 100%;
	padding: 150px 20px 20px 20px;
	margin: 0px;
}

.content{
	width: 100%;
	border-color: #40382e; /*#40382e*/
	border-width: 1px;
	border-style: solid;
}

.name{
	text-align: center;
	position: relative;
	top: -55px;

}
/* clears a bootstrap default*/